* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*:focus {
  outline: none;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.font-fam-2 {
  font-family: "Baloo 2", sans-serif;
}

.bar-container .bar {
  width: 32rem;
  height: 7.5rem;
  position: relative;
  bottom: 8rem;
  margin-top: 4rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0.3rem 0.7rem gray;
          box-shadow: 0 0.3rem 0.7rem gray;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #DEDEDEFF;
}

.bar-container .time-toggle-bar-container {
  background-color: #FA5252FF;
}

.bar-container .time-toggle-bar-container button {
  background: none;
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 0.5rem;
}

.bar-container .time-toggle-bar-container button:hover {
  cursor: pointer;
}

.bar-container .time-toggle-bar-container button:active .fas {
  color: darkred;
}

.bar-container .time-toggle-bar-container .time-toggle-bar-left-button {
  position: relative;
  right: 2.5rem;
}

.bar-container .time-toggle-bar-container .time-toggle-bar-right-button {
  position: relative;
  left: 2.5rem;
}

.bar-container .todo-bar-container {
  background-color: #69625B;
}

.bar-container .fas {
  color: #CA3838FF;
  font-size: 3.5rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.timer-container {
  background-color: #EAEAEAFF;
  width: 32rem;
  height: 23rem;
  position: relative;
  bottom: 8rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0.3rem 0.7rem  gray;
          box-shadow: 0 0.3rem 0.7rem  gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer-container .timer-counter-container, .timer-container .timer-buttons-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.timer-container .timer-counter-container .timer-counter-text {
  text-align: center;
  display: block;
  font-size: 10rem;
  font-weight: 700;
  text-shadow: 0 0.2rem 0.5rem gray;
  color: #69625B;
}

.timer-container .timer-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: #69625B;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem gray;
}

.timer-container .timer-buttons-container .options-button-container, .timer-container .timer-buttons-container .start-button-container {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.timer-container .timer-buttons-container .timer-buttons-divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background-color: #FA5252FF;
  min-height: 25rem;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-text {
  margin: auto;
  margin-top: 4rem;
  font-size: 6rem;
  color: #FFE0E0FF;
}

main {
  background-color: #DEDEDEFF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */